@import '../variables.scss';

.group-accordion {
  padding-bottom: 0.5rem;
}

.accordion-summary {
  background-color: #dae8f4 !important;
}

.accordion-summary-text {
  font-weight: bold !important;
  font-size: larger !important;
}

.year-tab {
  font-size: 1.8rem !important;
}

.indicator-card {
  margin: 1rem;
  border: 0 !important;
}

.box-fill {
  display: flex;
  align-items: stretch;
  height: 85%;
  width: 100%;

  &-column {
    @extend .box-fill;
    flex-direction: column;
  }
}

.cards-container {
  display: inline-flex;
  text-align: start;
  flex-wrap: wrap;
  gap: 15px;

  @media (max-width: map-get($breakpoints, md)) {
    gap: 2px;
  }
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-value {
  font-size: 50px !important;
  font-weight: 600 !important;
  padding-top: 0.5rem;
}

.card-second-value {
  font-size: 50px !important;
}

.card-label {
  font-size: 18px !important;
  width: 10rem;
  height: 3rem;
  font-weight: 400;
}

.card-details {
  font-size: 15px !important;
  padding-bottom: 0.5rem !important;
  padding-left: 15px !important;
}

.progress-bar {
  display: flex;
  padding: 0.3rem;
  width: 100%;
}

.country-drawer {
  width: 15% !important;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
}

.status-open {
  background-color: #ff9933 !important;
}

.status-closed {
  background-color: #007b6c !important;
  color: white !important;
}

.delivery-status-correctionrequested {
  background-color: #b83230 !important;
  color: white !important;
}

.delivery-status-finalfeedback {
  background-color: #7edab3 !important;
}

.delivery-status-pending {
  background-color: #ff9933 !important;
}

.delivery-status-released {
  background-color: #f5e93f !important;
}

.delivery-status-technicallyaccepted {
  background-color: #b19a5d !important;
  color: white !important;
}
