.group-accordion {
  padding-bottom: 0.5rem;
}

.accordion-summary {
  background-color: aliceblue !important;
}

.accordion-summary-text {
  font-weight: bold !important;
  font-size: larger !important;
}

.country-flag {
  margin-left: auto;
  align-self: center;
  margin-right: 1rem;
  box-shadow: lightblue 2px 2px 4px 2px;
}

.year-tab {
  font-size: 1.8rem !important;
}

.three-d-text {
  text-transform: uppercase;
  font-family: verdana, sans-serif;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}

.indicator-card {
  box-shadow: lightblue 2px 2px 4px 4px;
  min-width: 12rem;
  margin: 1rem;
}

.box-fill {
  display: flex;
  align-items: stretch;
  height: 85%;
  width: 100%;

  &-column {
    @extend .box-fill;
    flex-direction: column;
  }
}

.cards-container {
  display: inline-flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 12px;
}
