@import '../variables.scss';

.group-accordion {
  padding-bottom: 0.5rem;
}

.accordion-summary {
  background-color: #dae8f4 !important;
}

.accordion-summary-text {
  font-weight: bold !important;
  font-size: larger !important;
}

.country-flag {
  margin-left: auto;
  align-self: center;
  box-shadow: lightblue 2px 2px 4px 2px;
}

.year-tab {
  font-size: 1.8rem !important;
}

.indicator-card {
  box-shadow: lightblue 2px 2px 4px 4px;
  margin: 1rem;
}

.box-fill {
  display: flex;
  align-items: stretch;
  height: 85%;
  width: 100%;

  &-column {
    @extend .box-fill;
    flex-direction: column;
  }
}

.cards-container {
  display: inline-flex;
  text-align: center;
  flex-wrap: wrap;
  gap: 5px;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-value {
  font-size: 3.8rem !important;
  padding-top: 0.5rem;
}

.card-label {
  font-size: 1rem !important;
  width: 10rem;
  height: 3rem;
  align-self: 'center';
}

.card-details {
  font-size: 0.8rem !important;
  padding-bottom: 0.5rem !important;
}

.progress-bar {
  display: flex;
  padding: 0.3rem;
  width: 50%;

  @media (max-width: map-get($breakpoints, lg)) {
    width: 100%;
  }
}
