@use './variables.scss' as vars;

html,
body {
  height: 100%;
  margin: 0;
}

.main {
  min-width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-flow: column;

  .header {
    flex: 0 1 auto;
  }

  .content {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 1 55px;
  }
}

.grid-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.resizable {
  cursor: ew-resize;
}

.MuiDataGrid-root {
  border-radius: 0 !important;
}

.MuiDataGrid-columnHeaders {
  //background-color: #accae5;
  border-radius: 0 !important;
}

.MuiLink-button {
  color: #006bb8 !important;

  &:hover {
    color: #004b7f !important;
  }

  &:visited {
    color: #753aad !important;
  }

  &:active {
    color: #003052 !important;
  }
}

.appbar-item {
  text-align: center;
  margin-right: 0.5rem !important;
  font-weight: 600 !important;
  font-size: 16px !important;
  border-bottom: 0.2rem solid;
  border-color: vars.$dark-grey;
  height: 100%;

  @media (max-width: map-get(vars.$breakpoints, md)) {
    font-size: 14px !important;
    margin-right: 0.1rem !important;
  }
}

.appbar-item-selected {
  border-color: vars.$main-color;
}

.user-menu-button {
  position: absolute !important;
  text-align: center;
  top: 0.5rem;
  right: 0.5rem !important;
  font-weight: 600 !important;
  font-size: 14px !important;
  border-bottom: 0.2rem solid !important;
  border-color: vars.$dark-grey !important;

  @media (max-width: map-get(vars.$breakpoints, md)) {
    border-bottom: 0 !important;
  }
}

.country-flag {
  margin-left: auto;
  align-self: center;
  box-shadow: lightblue 1px 1px 2px 4px;
}

.drawer {
  position: relative;

  .MuiDrawer-root {
    position: relative;
  }

  .MuiDrawer-paper {
    width: 200px;
    position: absolute;
  }

  .list-item {
    display: block;

    .list-item-text {
      margin: auto;
      justify-content: center;

      padding: {
        top: 0.5rem;
        bottom: 0.5rem;
        left: 1rem;
      }

      .MuiListItemText-primary {
        font-size: 14px !important;
        font-weight: 700 !important;
      }
    }

    .list-item-button {
      justify-content: center;

      .MuiListItemText-primary {
        font-size: 14px !important;
        font-weight: 500 !important;
      }
    }

    .list-item-icon {
      min-width: 0;
      padding-right: 10px;
    }
  }
}

.MuiChip-root {
  background-color: white !important;
  border-color: vars.$dark-grey !important;
  margin-right: 10px !important;
}

.MuiBottomNavigationAction-label {
  font-size: 1rem !important;
  margin-top: 0.25rem;
}

.bottom-button {
  height: 35px;
  margin-right: 0.5rem !important;

  @media (max-width: map-get(vars.$breakpoints, md)) {
    margin-top: 0.5rem !important;
  }
}

.menu-icon {
  margin-right: 0.5rem;
}

.menu-item {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.details-btn {
  margin-left: 10px !important;
  padding-right: 10px !important;
  align-self: center !important;
  font-size: 14px !important;
}